@import "./font.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  cursor: default;
  background-color: #000;
}

.loader {
  position: absolute;
  top: 0%;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  transition: 0.25s linear;
  z-index: 9999;

  .textbox {
    height: fit-content;
    width: fit-content;

    h3 {
      font-family: "bn";
      font-size: 4vmax;
      font-weight: 500;
      text-decoration: none;
      color: #fff;
      cursor: pointer;

      span {
        filter: "blur(2px)";
        opacity: 0;
      }
    }
  }
}

// THIS CODE IS FOR ALL THE LINK TAGS ↓

.link {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3vmax;
  width: fit-content;
  overflow: hidden;
  cursor: pointer;

  h5 {
    height: 100%;

    &:nth-child(1) {
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(0deg);
      transform-origin: left;
      transition: 0.15s linear;
    }

    &:nth-child(2) {
      position: absolute;
      top: 100%;
      left: -30%;
      transform: rotate(30deg);
      transform-origin: left;
      transition: 0.15s linear;
    }
  }

  &:hover {
    h5:nth-child(1) {
      position: absolute;
      top: -100%;
      left: 0;
      transform: rotate(-30deg);
      transition: 0.25s linear;
    }

    h5:nth-child(2) {
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s linear;
    }
  }
}

.notch {
  position: absolute;
  bottom: 3vmax;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5vmax;
  border-radius: 5vmax;
  padding: 0.5vmax 2.5vmax;
  background: rgba(255, 255, 255, 0.163);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 999;

  i,
  h5 {
    cursor: pointer;
  }

  .iconbox {
    position: relative;
    height: 3.3vmax;
    width: 3.3vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5vmax;
    background-color: #000;
    transition: 0.15s linear;
    overflow: hidden;

    i {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.1vmax;
      color: #fff;
      transition: 0.15s linear;

      &:nth-child(1) {
        position: absolute;
        top: 0%;
        left: 0;
      }

      &:nth-child(2) {
        position: absolute;
        top: 100%;
        left: 0;
      }
    }
  }
}

@media (max-width: 30cm) {
  .link {
    height: 1.6vmax;
  }

  .notch {
    .link {
      &:nth-child(3) {
        display: none;
      }

      &:nth-child(5) {
        display: none;
      }
    }

    .iconbox {
      height: 5.3vmax;
      width: 5.3vmax;

      i {
        font-size: 1.6vmax;
      }
    }
  }
}

.wrapper {
  position: relative;
  width: 100%;
  background-color: #000;

  .cursor {
    height: 0.5vmax;
    width: 0.5vmax;
    border-radius: 50%;
    position: fixed;
    z-index: 999;
    background-color: #ffffff;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9999;
  }

  .sec1 {
    position: relative;
    height: 100vh;
    width: 100%;

    .textBox {
      height: 25vmax;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      margin-left: -0.8vmax;

      h1 {
        margin-top: 1vmax;
        letter-spacing: -0.6vmax;
      }

      .t2 {
        margin-left: 2vmax;
      }
    }

    .halfCircle {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -43%);
      height: 50vmax;
      width: 50vmax;
      border-radius: 50%;
      background-color: rgb(42, 42, 42);
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 33;
        background: rgba(0, 0, 0, 0.479);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.703);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 8vmax;

        h5 {
          margin-top: 1.5vmax;
        }
      }
    }
  }

  @media (max-width: 30cm) {
    .sec1 {
      .textBox {
        height: 100%;
        width: 100%;
        transform-origin: center;
        transform: rotate(-90deg);
        overflow: visible;
        margin-left: 0;
        margin-top: -11vmax;
      }

      .halfCircle {
        height: 60vmax;
        width: 60vmax;
        transform: translate(-50%, -20%);
      }
    }
  }

  .sec2 {
    height: 50vh;
    width: 100%;
  }

  @media (max-width: 30cm) {
    .sec2 {
      height: 40vh;
    }
  }

  .sec3 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .marqueebox {
      height: fit-content;
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;

      .text-holder {
        height: fit-content;
        width: 100%;
        display: flex;
        flex: 0 0 auto;

        h2 {
          height: 9vmax;
          display: flex;
          align-items: center;
        }
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .mrq1 {
      h2 {
        text-transform: uppercase;
        color: #fefefe;
        white-space: nowrap;
        min-width: 125vmax;
        font-family: "bn";
      }
    }

    .mrq2 {
      h2 {
        text-transform: uppercase;
        color: transparent;
        -webkit-text-stroke: 1px #fefefe;
        white-space: nowrap;
        min-width: 91vmax;
        font-family: "bn";
      }
    }

    .imgbox3D {
      position: absolute;
      top: 120%;
      left: 50%;
      transform: translate(-50%, 0);
      height: 35vmax;
      width: 30vmax;
      transition: 0.25s linear;
      will-change: transform;
      // border:  1px solid white;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center -2vmax;
      }
    }
  }

  @media (max-width: 30cm) {
    .sec3 {
      .imgbox3D {
        height: 40vmax;
      }
    }
  }

  @media (max-width: 15cm) {
    .sec3 {
      .imgbox3D {
        height: 32vmax;
        width: 25vmax;
      }
    }
  }

  .sec4 {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 0 2.2vmax;

    .col {
      height: 100%;
      width: calc(100% / 3 - 1.5vmax);
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2.5vmax;

      .box {
        width: 100%;
        height: 65vh;
        flex-shrink: 0;
        border-radius: 2vmax;
        color: white;
        overflow: hidden;

        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .phone {
      position: absolute;
      top: 0%;
      left: 0%;
      height: 100%;
      width: 100%;

      img {
        position: absolute;
        top: 1vmax;
        left: -2.5%;
        width: 105vmax;
        object-fit: cover;
        z-index: 99;
      }

      .showcaseBox {
        position: absolute;
        top: 49%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 85%;
        width: 21vmax;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3vmax;
        overflow: hidden;

        h3 {
          text-align: center;
        }

        .imgbox {
          position: absolute;
          top: 150%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 100%;
          width: 100%;
          border-radius: 1vmax;
          overflow: hidden;
          background-color: #121315;

          img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            object-position: center 0;
            margin-left: 0.5vmax;
          }
        }
      }
    }
  }

  .sec5 {
    width: 100%;
    height: 180vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vmax;
    color: #fff;
    padding: 5vmax 0;

    .content1 {
      width: 35%;
      height: 90%;
      // border: 1px solid white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      gap: 5vmax;

      .box {
        width: 90%;
        height: 35%;
        // border: 1px solid white;
        padding: 2vmax;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
          font-size: 2vmax;
        }

        p {
          margin-top: 1vmax;
          font-size: 1.1vmax;
        }
      }
    }

    .content2 {
      width: 35%;
      height: 90%;
      // border: 1px solid white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      gap: 5vmax;

      .box {
        width: 90%;
        height: 40%;
        // border: 1px solid white;
        padding: 2vmax;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;

        h1 {
          font-size: 2vmax;
        }

        p {
          margin-top: 1vmax;
          font-size: 1.1vmax;
        }
      }
    }

    .progress {
      width: 0.5px;
      height: 95%;
      background: #fff;
      position: relative;
    }
  }

  @media (max-width: 30cm) {
    .sec5 {
      display: none;
    }
  }

  .sec6 {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4vmax;

    .textbox {
      height: fit-content;
      width: fit-content;

      h2 {
        font-weight: 500;
        padding-right: 40vmax;
        background: linear-gradient(to right,
            #7953cd 20%,
            #00affa 30%,
            #0190cd 70%,
            #764ada 80%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        background-size: 500% auto;
        animation: textShine 5s ease-in-out infinite alternate;
        font-family: "bn";
      }

      @keyframes textShine {
        0% {
          background-position: 0% 50%;
        }

        100% {
          background-position: 100% 50%;
        }
      }

      h4 {
        line-height: 2.5vmax;
        padding-right: 36vmax;
        margin-top: 1vmax;
      }
    }

    .stripebox {
      position: relative;
      height: 100vh;
      width: 4%;
      background-color: #000;
      border-left: 1px solid #fff;
      overflow: hidden;
      cursor: pointer;

      h5 {
        position: absolute;
        top: 50%;
        left: 50%;
        font-weight: 500;
        transform: translate(-50%, -50%);
        pointer-events: none;
      }

      i {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1vmax;
        opacity: 0;
        cursor: pointer;
        pointer-events: none;
        transition: 0.25s linear;
      }

      h4 {
        font-size: 1.8vmax;
        font-weight: 500;
        line-height: 2.8vmax;
        padding: 4vmax;
        opacity: 0;
        pointer-events: none;
        transition: 0.25s linear;
      }

      .videoBox {
        position: absolute;
        bottom: 4vmax;
        right: 4vmax;
        height: 28vmax;
        width: 45vmax;
        flex-shrink: 0;
        opacity: 0;
        pointer-events: none;
        transition: 0.25s linear;

        video {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    #sb-1 {
      position: absolute;
      right: 12%;
      z-index: 6;
    }

    #sb-2 {
      position: absolute;
      right: 8%;
      z-index: 7;
    }

    #sb-3 {
      position: absolute;
      right: 4%;
      z-index: 8;
    }

    #sb-4 {
      position: absolute;
      right: 0;
      z-index: 9;
    }
  }

  @media (max-width: 30cm) {
    .sec6 {
      height: 100vh;
      justify-content: flex-start;
      flex-direction: column;
      overflow: hidden;
      padding: 0 3vmax;
      padding-top: 9.5vmax;

      .textbox {
        h3 {
          line-height: 6vmax;
          padding: 0;
        }

        p {
          line-height: 2.8vmax;
          width: 100%;
          border-radius: 10vmax;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          padding: 2vmax 3vmax;
          padding-right: 8vmax;
          margin-top: 9vmax;

          span {
            margin-left: 0;
            margin-right: 0.8vmax;
          }
        }
      }

      .stripebox {
        height: 6vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3vmax;
        border-left: none;
        border-top: 1px solid #fff;
        padding: 3vmax 3vmax;

        i {
          padding: 1.5vmax;
        }

        h3 {
          line-height: 6vmax;
          padding: 0;
        }

        .videoBox {
          position: static;
          height: 30vmax;
          width: 100%;
        }
      }

      #sb-1 {
        bottom: 18%;
        right: 0;
      }

      #sb-2 {
        bottom: 12%;
        right: 0;
      }

      #sb-3 {
        bottom: 6%;
        right: 0;
      }

      #sb-4 {
        bottom: 0;
        right: 0;
      }
    }
  }

  .footer {
    height: 100vh;
    width: 100%;
    background-color: black;

    .top {
      height: 12%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 4vmax;
      border-bottom: 1px solid white;

      .text {
        font-size: 1.2vmax;
        letter-spacing: 0.1vmax;
        text-decoration: none;
      }

      .left {
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        gap: 4vmax;

        .link {
          position: relative;
          top: 0;
          left: 0;
          height: 1.7vmax;
          width: fit-content;
          overflow: hidden;
          margin-top: 0.5vmax;

          h4 {
            height: 100%;

            &:nth-child(1) {
              position: absolute;
              top: 0;
              left: 0;
              transform: rotate(0deg);
              transform-origin: left;
              transition: 0.15s linear;
            }

            &:nth-child(2) {
              position: absolute;
              top: 100%;
              left: -30%;
              transform: rotate(30deg);
              transform-origin: left;
              transition: 0.15s linear;
            }
          }

          &:hover {
            h4:nth-child(1) {
              position: absolute;
              top: -100%;
              left: 0;
              transform: rotate(-30deg);
              transition: 0.25s linear;
            }

            h4:nth-child(2) {
              position: absolute;
              top: 0;
              left: 0;
              transform: rotate(0deg);
              transition: 0.25s linear;
            }
          }
        }
      }

      .right {
        height: 100%;
        width: 36%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        h4 {
          font-size: 1vmax;
          color: grey;
        }
      }
    }

    .middle {
      height: 45%;
      width: 100%;
      //   background-color:pink;
      margin-top: 1.8vmax;
      display: flex;

      .left {
        height: 100%;
        width: 50%;
        //   background-color:blue;
        border-right: 1px solid white;

        .content {
          height: 100%;
          width: 100%;
          // background-color:orange;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .gif {
            height: 90%;
            width: 60%;

            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
              filter: contrast(1.5);
            }
          }

          p {
            margin-top: 1vmax;
            color: white;
          }
        }
      }

      .right {
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;

        .linkBoxHolder {
          display: flex;

          .linkBox {
            height: fit-content;
            width: calc(100% / 3);
            font-size: 1.4vmax;
            padding-left: 5vmax;

            h6 {
              font-weight: 500;
              margin-bottom: 1vmax;
              color: #fff;
            }

            .link {
              position: relative;
              top: 0;
              left: 0;
              height: 1.3vmax;
              width: fit-content;
              overflow: hidden;
              margin-top: 0.5vmax;

              h5 {
                height: 100%;
                color: #4c4c4c;

                &:nth-child(1) {
                  position: absolute;
                  top: 0;
                  left: 0;
                  transform: rotate(0deg);
                  transform-origin: left;
                  transition: 0.15s linear;
                }

                &:nth-child(2) {
                  position: absolute;
                  top: 100%;
                  left: -30%;
                  transform: rotate(30deg);
                  transform-origin: left;
                  transition: 0.15s linear;
                }
              }

              &:hover {
                h5 {
                  color: #fff;
                }

                h5:nth-child(1) {
                  position: absolute;
                  top: -100%;
                  left: 0;
                  transform: rotate(-30deg);
                  transition: 0.25s linear;
                }

                h5:nth-child(2) {
                  position: absolute;
                  top: 0;
                  left: 0;
                  transform: rotate(0deg);
                  transition: 0.25s linear;
                }
              }
            }
          }
        }
      }
    }

    .bottom {
      height: 43%;
      width: 100%;

      .mrq3 {
        height: fit-content;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;

        .text-holder {
          height: fit-content;
          width: 100%;
          display: flex;
          flex: 0 0 auto;

          h2 {
            height: 11vmax;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: #fefefe;
            white-space: nowrap;
            min-width: 125vmax;
            background: linear-gradient(to right,
                #7953cd 20%,
                #00affa 30%,
                #0190cd 70%,
                #764ada 80%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            text-fill-color: transparent;
            background-size: 500% auto;
            animation: textShine 5s ease-in-out infinite alternate;
            font-family: "bn";
          }

          @keyframes textShine {
            0% {
              background-position: 0% 50%;
            }

            100% {
              background-position: 100% 50%;
            }
          }
        }

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }

  @media (max-width: 30cm) {
    .footer {
      min-height: 100vh;

      .top {
        height: 8%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 4.3vmax;
        border-bottom: 1px solid white;

        .text {
          font-size: 1.8vmax;
        }

        .left {
          height: 100%;
          width: 36%;
          display: flex;
          align-items: center;
          gap: 4vmax;
        }

        .right {
          // background-color:red;

          h4 {
            //  background-color: #fff;
            display: none;
          }
        }
      }

      .middle {
        height: fit-content;
        display: flex;
        flex-direction: column;

        .left {
          height: 100%;
          width: 100%;
          //   background-color:blue;
          border-right: none;

          .content {
            .gif {
              height: 100%;
              width: 100%;

              img {
                height: 100%;
                width: 100%;
                object-fit: cover;
              }
            }
          }
        }

        .right {
          width: 100%;

          .link {
            height: 100%;
            width: calc(100% / 2);
            //  background-color:red;

            h5 {
              font-size: 1.8vmax;
              letter-spacing: 0.2vmax;
              margin-top: 0.5vmax;
            }

            h6 {
              font-size: 2.2vmax;
              letter-spacing: 0.1vmax;
              margin-bottom: 1vmax;
              color: #3c3f45ec;
            }
          }

          .link2 {
            padding-right: 1vmax;
          }

          .link3 {
            display: none;
          }
        }
      }

      .bottom {
        height: 43%;
        width: 100%;
      }
    }
  }
}