@import "./font.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  cursor: default;
  background-color: #000;
}

.loader {
  position: absolute;
  top: 0%;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  transition: 0.25s linear;
  z-index: 9999;
}
.loader .textbox {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.loader .textbox h3 {
  font-family: "bn";
  font-size: 4vmax;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.loader .textbox h3 span {
  filter: "blur(2px)";
  opacity: 0;
}

.link {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3vmax;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
  cursor: pointer;
}
.link h5 {
  height: 100%;
}
.link h5:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(0deg);
  transform-origin: left;
  transition: 0.15s linear;
}
.link h5:nth-child(2) {
  position: absolute;
  top: 100%;
  left: -30%;
  transform: rotate(30deg);
  transform-origin: left;
  transition: 0.15s linear;
}
.link:hover h5:nth-child(1) {
  position: absolute;
  top: -100%;
  left: 0;
  transform: rotate(-30deg);
  transition: 0.25s linear;
}
.link:hover h5:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s linear;
}

.notch {
  position: absolute;
  bottom: 3vmax;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5vmax;
  border-radius: 5vmax;
  padding: 0.5vmax 2.5vmax;
  background: rgba(255, 255, 255, 0.163);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 999;
}
.notch i,
.notch h5 {
  cursor: pointer;
}
.notch .iconbox {
  position: relative;
  height: 3.3vmax;
  width: 3.3vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5vmax;
  background-color: #000;
  transition: 0.15s linear;
  overflow: hidden;
}
.notch .iconbox i {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1vmax;
  color: #fff;
  transition: 0.15s linear;
}
.notch .iconbox i:nth-child(1) {
  position: absolute;
  top: 0%;
  left: 0;
}
.notch .iconbox i:nth-child(2) {
  position: absolute;
  top: 100%;
  left: 0;
}

@media (max-width: 30cm) {
  .link {
    height: 1.6vmax;
  }
  .notch .link:nth-child(3) {
    display: none;
  }
  .notch .link:nth-child(5) {
    display: none;
  }
  .notch .iconbox {
    height: 5.3vmax;
    width: 5.3vmax;
  }
  .notch .iconbox i {
    font-size: 1.6vmax;
  }
}
.wrapper {
  position: relative;
  width: 100%;
  background-color: #000;
}
.wrapper .cursor {
  height: 2vmax;
  width: 2vmax;
  border-radius: 50%;
  position: fixed;
  z-index: 999;
  background-color: #ffffff;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
}
.wrapper .sec1 {
  position: relative;
  height: 100vh;
  width: 100%;
}
.wrapper .sec1 .textBox {
  height: 25vmax;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-left: -0.8vmax;
}
.wrapper .sec1 .textBox h1 {
  margin-top: 1vmax;
  letter-spacing: -0.6vmax;
}
.wrapper .sec1 .textBox .t2 {
  margin-left: 2vmax;
}
.wrapper .sec1 .halfCircle {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -43%);
  height: 60vmax;
  width: 60vmax;
  border-radius: 50%;
  background-color: rgb(42, 42, 42);
  overflow: hidden;
}
.wrapper .sec1 .halfCircle img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.wrapper .sec1 .halfCircle .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 33;
  background: rgba(0, 0, 0, 0.479);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.703);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8vmax;
}
.wrapper .sec1 .halfCircle .overlay h5 {
  margin-top: 1.5vmax;
}
@media (max-width: 30cm) {
  .wrapper .sec1 .textBox {
    height: 100%;
    width: 100%;
    transform-origin: center;
    transform: rotate(-90deg);
    overflow: visible;
    margin-left: 0;
    margin-top: -11vmax;
  }
  .wrapper .sec1 .halfCircle {
    height: 60vmax;
    width: 60vmax;
    transform: translate(-50%, -20%);
  }
}
.wrapper .sec2 {
  height: 50vh;
  width: 100%;
}
@media (max-width: 30cm) {
  .wrapper .sec2 {
    height: 40vh;
  }
}
.wrapper .sec3 {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper .sec3 .marqueebox {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
.wrapper .sec3 .marqueebox .text-holder {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: flex;
  flex: 0 0 auto;
}
.wrapper .sec3 .marqueebox .text-holder h2 {
  height: 9vmax;
  display: flex;
  align-items: center;
}
.wrapper .sec3 .marqueebox::-webkit-scrollbar {
  display: none;
}
.wrapper .sec3 .mrq1 h2 {
  text-transform: uppercase;
  color: #fefefe;
  white-space: nowrap;
  min-width: 125vmax;
  font-family: "bn";
}
.wrapper .sec3 .mrq2 h2 {
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px #fefefe;
  white-space: nowrap;
  min-width: 91vmax;
  font-family: "bn";
}
.wrapper .sec3 .imgbox3D {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 35vmax;
  width: 30vmax;
  transition: 0.25s linear;
  will-change: transform;
}
.wrapper .sec3 .imgbox3D img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center -2vmax;
     object-position: center -2vmax;
}
@media (max-width: 30cm) {
  .wrapper .sec3 .imgbox3D {
    height: 40vmax;
  }
}
@media (max-width: 15cm) {
  .wrapper .sec3 .imgbox3D {
    height: 32vmax;
    width: 25vmax;
  }
}
.wrapper .sec4 {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 0 2.2vmax;
}
.wrapper .sec4 .col {
  height: 100%;
  width: calc(33.3333333333% - 1.5vmax);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5vmax;
}
.wrapper .sec4 .col .box {
  width: 100%;
  height: 65vh;
  flex-shrink: 0;
  border-radius: 2vmax;
  color: white;
  overflow: hidden;
}
.wrapper .sec4 .col .box video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper .sec4 .phone {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
}
.wrapper .sec4 .phone img {
  position: absolute;
  top: 1vmax;
  left: -2.5%;
  width: 105vmax;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 99;
}
.wrapper .sec4 .phone .showcaseBox {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 85%;
  width: 21vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3vmax;
  overflow: hidden;
}
.wrapper .sec4 .phone .showcaseBox h3 {
  text-align: center;
}
.wrapper .sec4 .phone .showcaseBox .imgbox {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  border-radius: 1vmax;
  overflow: hidden;
  background-color: #121315;
}
.wrapper .sec4 .phone .showcaseBox .imgbox img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center 0;
     object-position: center 0;
  margin-left: 0.5vmax;
}
.wrapper .sec5 {
  width: 100%;
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vmax;
  color: #fff;
  padding: 5vmax 0;
}
.wrapper .sec5 .content1 {
  width: 35%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 5vmax;
}
.wrapper .sec5 .content1 .box {
  width: 90%;
  height: 35%;
  padding: 2vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper .sec5 .content1 .box h1 {
  font-size: 2vmax;
}
.wrapper .sec5 .content1 .box p {
  margin-top: 1vmax;
  font-size: 1.1vmax;
}
.wrapper .sec5 .content2 {
  width: 35%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 5vmax;
}
.wrapper .sec5 .content2 .box {
  width: 90%;
  height: 40%;
  padding: 2vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.wrapper .sec5 .content2 .box h1 {
  font-size: 2vmax;
}
.wrapper .sec5 .content2 .box p {
  margin-top: 1vmax;
  font-size: 1.1vmax;
}
.wrapper .sec5 .progress {
  width: 0.5px;
  height: 95%;
  background: #fff;
  position: relative;
}
@media (max-width: 30cm) {
  .wrapper .sec5 {
    display: none;
  }
}
.wrapper .sec6 {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4vmax;
}
.wrapper .sec6 .textbox {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.wrapper .sec6 .textbox h2 {
  font-weight: 500;
  padding-right: 40vmax;
  background: linear-gradient(to right, #7953cd 20%, #00affa 30%, #0190cd 70%, #764ada 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
  font-family: "bn";
}
@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.wrapper .sec6 .textbox h4 {
  line-height: 2.5vmax;
  padding-right: 36vmax;
  margin-top: 1vmax;
}
.wrapper .sec6 .stripebox {
  position: relative;
  height: 100vh;
  width: 4%;
  background-color: #000;
  border-left: 1px solid #fff;
  overflow: hidden;
  cursor: pointer;
}
.wrapper .sec6 .stripebox h5 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 500;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.wrapper .sec6 .stripebox i {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1vmax;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s linear;
}
.wrapper .sec6 .stripebox h4 {
  font-size: 1.8vmax;
  font-weight: 500;
  line-height: 2.8vmax;
  padding: 4vmax;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s linear;
}
.wrapper .sec6 .stripebox .videoBox {
  position: absolute;
  bottom: 4vmax;
  right: 4vmax;
  height: 28vmax;
  width: 45vmax;
  flex-shrink: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s linear;
}
.wrapper .sec6 .stripebox .videoBox video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.wrapper .sec6 #sb-1 {
  position: absolute;
  right: 12%;
  z-index: 6;
}
.wrapper .sec6 #sb-2 {
  position: absolute;
  right: 8%;
  z-index: 7;
}
.wrapper .sec6 #sb-3 {
  position: absolute;
  right: 4%;
  z-index: 8;
}
.wrapper .sec6 #sb-4 {
  position: absolute;
  right: 0;
  z-index: 9;
}
@media (max-width: 30cm) {
  .wrapper .sec6 {
    height: 100vh;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
    padding: 0 3vmax;
    padding-top: 9.5vmax;
  }
  .wrapper .sec6 .textbox h3 {
    line-height: 6vmax;
    padding: 0;
  }
  .wrapper .sec6 .textbox p {
    line-height: 2.8vmax;
    width: 100%;
    border-radius: 10vmax;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 2vmax 3vmax;
    padding-right: 8vmax;
    margin-top: 9vmax;
  }
  .wrapper .sec6 .textbox p span {
    margin-left: 0;
    margin-right: 0.8vmax;
  }
  .wrapper .sec6 .stripebox {
    height: 6vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vmax;
    border-left: none;
    border-top: 1px solid #fff;
    padding: 3vmax 3vmax;
  }
  .wrapper .sec6 .stripebox i {
    padding: 1.5vmax;
  }
  .wrapper .sec6 .stripebox h3 {
    line-height: 6vmax;
    padding: 0;
  }
  .wrapper .sec6 .stripebox .videoBox {
    position: static;
    height: 30vmax;
    width: 100%;
  }
  .wrapper .sec6 #sb-1 {
    bottom: 18%;
    right: 0;
  }
  .wrapper .sec6 #sb-2 {
    bottom: 12%;
    right: 0;
  }
  .wrapper .sec6 #sb-3 {
    bottom: 6%;
    right: 0;
  }
  .wrapper .sec6 #sb-4 {
    bottom: 0;
    right: 0;
  }
}
.wrapper .footer {
  height: 100vh;
  width: 100%;
  background-color: black;
}
.wrapper .footer .top {
  height: 12%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4vmax;
  border-bottom: 1px solid white;
}
.wrapper .footer .top .text {
  font-size: 1.2vmax;
  letter-spacing: 0.1vmax;
  text-decoration: none;
}
.wrapper .footer .top .left {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  gap: 4vmax;
}
.wrapper .footer .top .left .link {
  position: relative;
  top: 0;
  left: 0;
  height: 1.7vmax;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
  margin-top: 0.5vmax;
}
.wrapper .footer .top .left .link h4 {
  height: 100%;
}
.wrapper .footer .top .left .link h4:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(0deg);
  transform-origin: left;
  transition: 0.15s linear;
}
.wrapper .footer .top .left .link h4:nth-child(2) {
  position: absolute;
  top: 100%;
  left: -30%;
  transform: rotate(30deg);
  transform-origin: left;
  transition: 0.15s linear;
}
.wrapper .footer .top .left .link:hover h4:nth-child(1) {
  position: absolute;
  top: -100%;
  left: 0;
  transform: rotate(-30deg);
  transition: 0.25s linear;
}
.wrapper .footer .top .left .link:hover h4:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s linear;
}
.wrapper .footer .top .right {
  height: 100%;
  width: 36%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.wrapper .footer .top .right h4 {
  font-size: 1vmax;
  color: grey;
}
.wrapper .footer .middle {
  height: 45%;
  width: 100%;
  margin-top: 1.8vmax;
  display: flex;
}
.wrapper .footer .middle .left {
  height: 100%;
  width: 50%;
  border-right: 1px solid white;
}
.wrapper .footer .middle .left .content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper .footer .middle .left .content .gif {
  height: 90%;
  width: 60%;
}
.wrapper .footer .middle .left .content .gif img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: contrast(1.5);
}
.wrapper .footer .middle .left .content p {
  margin-top: 1vmax;
  color: white;
}
.wrapper .footer .middle .right {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
}
.wrapper .footer .middle .right .linkBoxHolder {
  display: flex;
}
.wrapper .footer .middle .right .linkBoxHolder .linkBox {
  height: -moz-fit-content;
  height: fit-content;
  width: 33.3333333333%;
  font-size: 1.4vmax;
  padding-left: 5vmax;
}
.wrapper .footer .middle .right .linkBoxHolder .linkBox h6 {
  font-weight: 500;
  margin-bottom: 1vmax;
  color: #fff;
}
.wrapper .footer .middle .right .linkBoxHolder .linkBox .link {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3vmax;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
  margin-top: 0.5vmax;
}
.wrapper .footer .middle .right .linkBoxHolder .linkBox .link h5 {
  height: 100%;
  color: #4c4c4c;
}
.wrapper .footer .middle .right .linkBoxHolder .linkBox .link h5:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(0deg);
  transform-origin: left;
  transition: 0.15s linear;
}
.wrapper .footer .middle .right .linkBoxHolder .linkBox .link h5:nth-child(2) {
  position: absolute;
  top: 100%;
  left: -30%;
  transform: rotate(30deg);
  transform-origin: left;
  transition: 0.15s linear;
}
.wrapper .footer .middle .right .linkBoxHolder .linkBox .link:hover h5 {
  color: #fff;
}
.wrapper .footer .middle .right .linkBoxHolder .linkBox .link:hover h5:nth-child(1) {
  position: absolute;
  top: -100%;
  left: 0;
  transform: rotate(-30deg);
  transition: 0.25s linear;
}
.wrapper .footer .middle .right .linkBoxHolder .linkBox .link:hover h5:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s linear;
}
.wrapper .footer .bottom {
  height: 43%;
  width: 100%;
}
.wrapper .footer .bottom .mrq3 {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
.wrapper .footer .bottom .mrq3 .text-holder {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: flex;
  flex: 0 0 auto;
}
.wrapper .footer .bottom .mrq3 .text-holder h2 {
  height: 11vmax;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #fefefe;
  white-space: nowrap;
  min-width: 125vmax;
  background: linear-gradient(to right, #7953cd 20%, #00affa 30%, #0190cd 70%, #764ada 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
  font-family: "bn";
}
@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.wrapper .footer .bottom .mrq3::-webkit-scrollbar {
  display: none;
}
@media (max-width: 30cm) {
  .wrapper .footer {
    min-height: 100vh;
  }
  .wrapper .footer .top {
    height: 8%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4.3vmax;
    border-bottom: 1px solid white;
  }
  .wrapper .footer .top .text {
    font-size: 1.8vmax;
  }
  .wrapper .footer .top .left {
    height: 100%;
    width: 36%;
    display: flex;
    align-items: center;
    gap: 4vmax;
  }
  .wrapper .footer .top .right h4 {
    display: none;
  }
  .wrapper .footer .middle {
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
  .wrapper .footer .middle .left {
    height: 100%;
    width: 100%;
    border-right: none;
  }
  .wrapper .footer .middle .left .content .gif {
    height: 100%;
    width: 100%;
  }
  .wrapper .footer .middle .left .content .gif img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .wrapper .footer .middle .right {
    width: 100%;
  }
  .wrapper .footer .middle .right .link {
    height: 100%;
    width: 50%;
  }
  .wrapper .footer .middle .right .link h5 {
    font-size: 1.8vmax;
    letter-spacing: 0.2vmax;
    margin-top: 0.5vmax;
  }
  .wrapper .footer .middle .right .link h6 {
    font-size: 2.2vmax;
    letter-spacing: 0.1vmax;
    margin-bottom: 1vmax;
    color: rgba(60, 63, 69, 0.9254901961);
  }
  .wrapper .footer .middle .right .link2 {
    padding-right: 1vmax;
  }
  .wrapper .footer .middle .right .link3 {
    display: none;
  }
  .wrapper .footer .bottom {
    height: 43%;
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */